#table {
  margin-left: 100px;
  margin-top: 100px;
  border-collapse: collapse;
  border: 1px solid black;
}

.cell {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  text-align: center;
  vertical-align: baseline;
  padding: 60px;
}

.x {
  background-color: rgb(124, 252, 0);
}

.o {
  background-color: rgb(250, 128, 114);
}
