#table {
  margin-left: 100px;
  margin-top: 100px;
  border-collapse: collapse;
}

.cell {
  border: 1px solid black;
  font-family: Helvetica;
  font-size: 30px;
  text-align: center;
  vertical-align: middle;
  height: 60px;
  width: 60px;
}

.x {
  background-color: rgb(124, 252, 0);
}

.o {
  background-color: rgb(250, 128, 114);
}

#myBar {
  width: 10%;
  height: 30px;
  background-color: #4caf50;
  text-align: center; /* To center it horizontally (if you want) */
  line-height: 30px; /* To center it vertically */
  color: white;
}
