#table {
  margin-left: 100px;
  margin-top: 100px;
  border-collapse: collapse;
  border: 1px solid black;
}

td {
  font-family: Helvetica;
  font-size: 30px;
  text-align: left;
  vertical-align: -webkit-baseline-middle;
  padding: 60px;
}

.cell {
  height: 59px;
}
.x {
  background-color: rgb(124, 252, 0);
}

.o {
  background-color: rgb(250, 128, 114);
}
